@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Gilroy";
  background: #FFF3EA;
}

#train {
  position: relative;
  cursor: pointer;
}

header {
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 190px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.container {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width = 760px) {
  .grad {
    max-width: 100%;
    height: 40;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  z-index: 3;
}

.logo {
  flex: 0 0 150px;
  height: 105px;
  padding: 20px;
  display: block;
  margin-right: 45px;
  z-index: 2;
}

.logo img {
  max-width: 100%;
  display: block;
}

.img1 {
  width: 17px;
  display: block;
  margin: 0 auto;
}

.column {
  display: inline;
  vertical-align: middle;
}

.grafs {
  padding: 0px;
  padding-top: 60px;
  float: left;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

span {
  display: block;
  float: left;
  margin: 25px;
  font-family: "Gilroy";
}

.call {
  color: rgb(130, 130, 153);
  vertical-align: top;
  font-family: "Gilroy";
  font-size: 12px;
}

.mail {
  font-family: "Gilroy";
  font-size: 18px;
  vertical-align: top;
  text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
}

.round {
  width: 52px;
  height: 52px;
  border: 1px solid #EDEDF2;
  border-radius: 50px;
  margin: 2px;
  vertical-align: center;
  text-align: center;
  float: right;
}

.column-2 {
  vertical-align: right;
  padding-left: 150px;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  background: #FFF3EA;
}

.history {
  position: absolute;
  top: 289px;
  left: 110px;
  font-size: 40px;
  background: url(C:/Users/User/Desktop/Курсовой/img/back.png) no-repeat;
  border-color: black none none black;
  border-style: solid;
  padding: 5px;
}

.quote {
  color: #FFFFFF;
  font-size: 26px;
  top: 350px;
  left: 110px;
  position: absolute;
}

h1 {
  font-size: 64px;
  text-align: center;
}

.college {
  background: #EAA782;
  margin: 0;
}

.info p {
  font-size: 24px;
  float: left;
  width: 65%;
  margin-left: 53px;
  margin-right: 0px;
}

.info img {
  float: right;
  margin-right: 25px;
}

.symbol {
  width: 10%;
  margin-left: 53px;
}

.footer {
  font-family: "Gilroy";
  padding: 40px 0 30px 0;
  position: absolute;
  width: 100%;
}

ul {
  list-style: none;
}

.down {
  margin: 0;
  padding: 0;
  height: 345px;
  position: relative;
}

hr {
  border: none;
  background-color: rgb(210, 210, 217);
  color: rgb(210, 210, 217);
  height: 2px;
}

.me {
  font-size: 14px;
  text-align: center;
  color: rgb(210, 210, 217);
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px 0 30px;
}

.center-cont {
  text-align: center;
}

.down ul {
  display: table;
  margin: 0 70px auto 60px;
}

li a {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 640px 0 30px 0;
  }
  .down {
    height: 430px;
  }
  hr {
    width: 200%;
  }
  .symbol {
    width: 30%;
  }
  .info img {
    width: 30%;
    margin-top: 0;
  }
  .info {
    width: 200%;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroy-regular.eot?") format("eot"), url("fonts/gilroy-regular.ttf") format("ttf"), url("fonts/gilroy-regular.woff") format("woff"), url("fonts/gilroy-regular.woff2") format("wofff2"), url("fonts/gilroy-regular.svg") format("svg");
}/*# sourceMappingURL=college.css.map */